extends layouts/_index.jade
block body
    #container
        #home.sections-mob
            include layouts/_home
        #diseno-exterior.sections-mob
            include layouts/_dExterior
        #diseno-interior.sections-mob
            include layouts/_dInterior
        #tecnologia.sections-mob
            include layouts/_tecnologia
        #innovacion.sections-mob
            include layouts/_innovacion
        #sistema-de-asistencia.sections-mob
            include layouts/_asistencia
        #seguridad.sections-mob
            include layouts/_seguridad
        #versiones.sections-mob
            include layouts/_versiones
        #colores.sections-mob
            include layouts/_colores
        #galeria.sections-mob
            include layouts/_galeria
        #menu.sections-mob
            include layouts/_menu
        #header
            include layouts/_header
    include layouts/_loader