.bg
    .txt
        h3 Sistema de asistencia
        p Sistema de asistencia<br> en la conducción ABS, ASR.
.maskSlid
    .sliderDE
        .slideIt
            .txt.btmT
                h1 ABS
                p El Sistema de Freno Antibloqueo te permite controlar la trayectoria del auto en un frenado de emergencia.
        .slideIt
            .txt.btmT
                h1 ASR
                p El Control de Tracción mantiene la adherencia de las llantas en superficies deslizantes y con aceleraciones bruscas.
        .slideIt
            .txt.btmT
                h1 EBD
                p Este dispositivo distribuye la fuerza de frenado entre las llantas traseras y las delanteras, para detener el vehículo de manera eficiente.
        .slideIt
            .txt.btmT
                h1 ESC
                p El Sistema Electrónico de Estabilidad evita que el auto patine frenando automáticamente una o más llantas.
        .slideIt
            .txt.btmT
                h2 Presión de neumáticos
                p Vigila la presión de las llantas, para evitar variaciones peligrosas en tus viajes.


.safeBull.center-horizontal
    .navBullets.center-horizontal
        .bul.act#bAs-0.bul3
        .bul#bAs-1.bul3
        .bul#bAs-2.bul3
        .bul#bAs-3.bul3
        .bul#bAs-4.bul3

.titleSect
    h4 Sistema de asistencia