.maskSlid
    .carIs.car.center-horizontal.cr0.act
    .carIs.car.center-horizontal.cr1
    .carIs.car.center-horizontal.cr2
    .carIs.car.center-horizontal.cr3
    .carIs.car.center-horizontal.cr4
    .carIs.car.center-horizontal.cr5
    .carIs.car.center-horizontal.cr6

    .colName.txt.center-horizontal.txt0.act
        h3 Plata claro metelico
    .colName.txt.center-horizontal.txt1
        h3 Blanco Puro
    .colName.txt.center-horizontal.txt2
        h3 Negro Profundo Efecto Perla
    .colName.txt.center-horizontal.txt3
        h3 Oro Arena Metalizado
    .colName.txt.center-horizontal.txt4
        h3 Gris Canyon Metalizado
    .colName.txt.center-horizontal.txt5
        h3 Azul de Luna efecto perla
    .colName.txt.center-horizontal.txt6
        h3 Marrón Roble Negro Metalizado




.safeBull.center-horizontal
    .navBullets.center-horizontal
        .bul.act#bC-0.bul5
        .bul#bC-1.bul5
        .bul#bC-2.bul5
        .bul#bC-3.bul5
        .bul#bC-4.bul5
        .bul#bC-5.bul5
        .bul#bC-6.bul5
.titleSect
    h4 Colores