.maskSlid

    .sliderDE
        .slideIt.home
            .safe-section
                .car
                .txt
                    h3 Diseño Exterior
                    p Rediseño en fascia trasera y delantera, parrilla inferior, spoilerFaros con Bi-Xenon de 25W para todas las versiones
        .slideIt.facia
            .bgW
            .safe-section
                .txt.btmT
                    h3 Rediseño en fascia delantera y parrilla inferior
                    p ¿El resultado? Un diseño excepcional, mientras que la parrilla superior rediseñada destaca una fuerte personalidad.
        .slideIt.techo
            .bgW
            .safe-section
                .txt.btmT
                    h3 Techo panorámico corredizo
                    p Es eléctrico y se extiende hasta la segunda fila de asientos, para darte una vista panorámica al mundo.
        .slideIt.rines
            .bgW
            .safe-section
                .txt.btmT
                    h3 Rines de aluminio Moab de 19"
                    p Son ligeros y resistentes, con un diseño vanguardista de diez brazos.
        .slideIt.faros
            .bgW
            .safe-section
                .txt.btmT
                    h3 Faros con Bi-Xenon de 25W
                    p Integran el sistema de lavafaros y el de luz de curva dinámica (AFS), que modifica el espectro de luz con respecto al movimiento del auto.
        .slideIt.niebla
            .bgW
            .safe-section
                .txt.btmT
                    h3 Faros para niebla
                    p Con nuevo diseño, mejoran tu visión en condiciones de niebla o lluvia intensa de manera efectiva. Conduce seguro.
        .slideIt.calavera
            .bgW
            .safe-section
                .txt.btmT
                    h3 Calaveras con LED
                    p Se distinguen por su eficiencia y su bajo consumo de energía.
        .slideIt.escapes
            .bgW
            .safe-section
                .txt.btmT
                    h3 Escapes rediseñados
                    p Con nuevo diseño, ahora los escapes angulares de Nuevo Touareg vienen en acabado cromado.
.safeBull.center-horizontal
    .navBullets.center-horizontal
        .bul.act#b-0.bul0
        .bul#b-1.bul0
        .bul#b-2.bul0
        .bul#b-3.bul0
        .bul#b-4.bul0
        .bul#b-5.bul0
        .bul#b-6.bul0
        .bul#b-7.bul0
.titleSect
    h4 Diseño Exterior
