.maskSlid
    .sliderDE
        .slideIt.home
            .safe-section
                .txt.btmT
                    h3 Diseño Interior
                    p Elegante tablero. Finos insertos decorativos en madera / aluminiocepillado.
        .slideIt.di1
            .bgW
            .safe-section
                .txt.btmT
                    h3 Sistema Off-Road
                    p Modifica parámetros de la gestión del acelerador para dosificar la potencia del motor; los ABS y las asistencias electrónicas (ASR y ESP) y facilita el arranque en terrenos difíciles y pendientes pronunciadas.

        .slideIt.di2
            .bgW
            .safe-section
                .txt.btmT
                    h3 Keyless Access y Push to Start
                    p Si llevas la llave contigo, puedes abrir el auto con sólo tocar la manija. El encendido también se simplifica con el botón "Push to Start".

        .slideIt.di3
            .bgW
            .safe-section
                .txt.btmT
                    h3 Climatronic
                    p Controla la intensidad y dirección del aire en 4 zonas. Puedes hacerlo desde la consola central para los dos climas de la parte delantera y la consola trasera para los ocupantes de la parte de atrás.

        .slideIt.di4
            .bgW
            .safe-section
                .txt.btmT
                    h3 Sistema de Navegación
                    p Controla el infoentretenimiento en una pantalla táctil de 8", además de una perilla para controlar el volumen y el zoom en los mapas.


        .slideIt.di5
            .bgW
            .safe-section
                .txt.btmT
                    h3 Botón en cajuela para opción de carga
                    p Modifica la altura de la parte trasera del auto para que sea más fácil cargar o descargar objetos.


        .slideIt.di6
            .bgW
            .safe-section
                .txt.btmT
                    h3 Control de asientos 12 vías
                    p Los asientos eléctricos delanteros te ofrecien la máxima comodidad: tienen soporte lumbar, calefacción y memoria para 3 posiciones.

        .slideIt.di7
            .bgW
            .safe-section
                .txt.btmT
                    h3 Volante multifunciones
                    p Puedes controlar el radio, la computadora de viaje y tu teléfono celular, además de hacer los cambios de marcha gracias a sus paletas de cambio.


        .slideIt.di8
            .bgW
            .safe-section
                .txt.btmT
                    h3 Insertos decorativos
                    p El interior combina detalles en madera y aluminio según el color de los interiores, además cuenta con "ambient light" que brinda una sensación relajada y elegante a los ocupantes.


        .slideIt.di9
            .bgW
            .safe-section
                .txt.btmT
                    h3 Cuadro de instrumentos 4D
                    p Gracias a su tecnología 4D, te permite ver de manera más gráfica y visual la información de tu Nuevo Touareg.



.safeBull.center-horizontal
    .navBullets.center-horizontal
        .bul.act#bI-0.bul1
        .bul#bI-1.bul1
        .bul#bI-2.bul1
        .bul#bI-3.bul1
        .bul#bI-4.bul1
        .bul#bI-5.bul1
        .bul#bI-6.bul1
        .bul#bI-7.bul1
        .bul#bI-8.bul1
        .bul#bI-9.bul1

.titleSect
    h4 Diseño Interior
