.maskSlid
    .sliderDE
        .slideIt.cr1
        .slideIt.cr2
        .slideIt.cr3
        .slideIt.cr4
        .slideIt.cr5
        .slideIt.cr6
        .slideIt.cr7
        .slideIt.cr8
        .slideIt.cr9
        .slideIt.cr10
        .slideIt.cr11
        .slideIt.cr12
        .slideIt.cr13
        .slideIt.cr14
        .slideIt.cr15




.safeBull.center-horizontal
    .navBullets.center-horizontal
        .bul.act#bG-0.bul6
        .bul#bG-1.bul6
        .bul#bG-2.bul6
        .bul#bG-3.bul6
        .bul#bG-4.bul6
        .bul#bG-5.bul6
        .bul#bG-6.bul6
        .bul#bG-7.bul6
        .bul#bG-8.bul6
        .bul#bG-9.bul6
        .bul#bG-10.bul6
        .bul#bG-11.bul6
        .bul#bG-13.bul6
        .bul#bG-13.bul6
        .bul#bG-14.bul6

.titleSect
    h4 galeria