.maskSlid
    .sliderDE
        .slideIt.tdi
            .bgW
            .safe-section
                .txt.btmT
                    h3 Motor TDI
                    .icon.i1
                    p Nuevo Touareg en su versión V6 TDI, cuenta con motor de Inyección Directa de Combustible y Turbocompresor.
        .slideIt.trip
            .bgW
            .safe-section
                .txt.btmT
                    h3 Transmisión Tiptronic
                    .icon.i2
                    p Transmisión de 8 velocidades con la versatilidad que necesitas: automática o con cambios al volante.
        .slideIt.hibrid
            .bgW
            .safe-section
                .txt.btmT
                    h3 Tecnología Híbrida
                    .icon.i3
                    p La energía que liberas al frenar carga la batería de tu auto. Inteligente, ¿no?



.safeBull.center-horizontal
    .navBullets.center-horizontal
        .bul.act#bIn-0.bul2
        .bul#bIn-1.bul2
        .bul#bIn-2.bul2

.titleSect
    h4 Innovación