.multicolition
    .car
.typeMulty
    .txt
        h3 Multicolision brake
        p En caso de colisi칩n, este sistema aplica los frenos y enciende las luces de emergencia para mantenerte seguro.
.maskSlid
    .sliderDE
        .slideIt.tdi
            .safe-section
                .txt.btmT
                    .icon.i1
                    h3 Detecci칩n de Fatiga
                    p Si amas la carretera, este sistema es importante: Detecta tus h치bitos de manejo y te avisa cuando debes hacer una pausa.
        .slideIt.trip
            .bgW
            .safe-section
                .txt.btmT
                    .icon.i2
                    h3 Sistema de seguridad (6 bolsas de aire)
                    p El conductor y el copiloto cuentan con 6 bolsas de aire, frontales y laterales tipo cortina.
        .slideIt.hibrid
            .bgW
            .safe-section
                .txt.btmT
                    .icon.i3
                    h3 Habit치culo de pasajeros
                    p Mayor rigidez para mayor seguridad. Touareg te mantiene seguro en caso de accidente.
.safeBull.center-horizontal
    .navBullets.center-horizontal
        .bul.act#bSe-0.bul4
        .bul#bSe-1.bul4
        .bul#bSe-2.bul4
.titleSect
    h4 Seguridad
