.maskSlid
    .tecSec
        .spec.tc1
        .safe-section
            .txt.btmT
                h3 Cámara de visión aérea
                p Combina 4 cámaras de visión amplia para eliminar los puntos ciegos. Las líneas de orientación te facilitan maniobrar en espacios reducidos.
    .tecSec
        .spec.tc2
        .safe-section
            .txt.btmT
                h1 31º
                h3 Capacidad de ascenso<br> en pendientes 31º
    .tecSec
        .spec.tc3
        .safe-section
            .txt.btmT
                h1 35º
                h3 Capacidad de inclinación<br> lateral 35º
    .tecSec
        .spec.tc4
        .safe-section
            .txt.btmT
                h1 26º / 25º
                h3 Amplios ángulos de ataque<br> y de salida
    .tecSec
        .spec.tc5
        .safe-section
            .txt.btmT
                h1 500mm
                h3 500mm de profundidad<br> de vadeo

    .tecSec
        .spec.tc6
        .safe-section
            .txt.btmT
                h3 Tracción 4MOTION
                p Tecnología Volkswagen de tracción permanente. El diferencial intermedio Torsen distribuye el torque a las 4 ruedas de manera uniforme.

.titleSect
    h4 Tecnología

