a(href="http://www.configuratuvw.mx/#/modelo/touareg/version/v6-fsi/", target="_blank")
    .btn.v6
        h1 V6
a(href="http://www.configuratuvw.mx/#/modelo/touareg/version/v6-tdi/", target="_blank")
    .btn.v6Tdi
        h1 V6 TDI
a(href="http://www.configuratuvw.mx/#/modelo/touareg/version/v8-fsi/", target="_blank")
    .btn.v8
        h1 V8
a(href="http://www.configuratuvw.mx/#/modelo/touareg/version/hybrid/", target="_blank")
    .btn.hyd
        h1 Hybrid
.titleSect
    h4 Versiones
